body {
	padding: 0;
	margin: 0;
}

h1 {
	margin-top: 0px;
}
select {
	width: 200px;
}

#content {
	border: 1px solid black;
	margin: 40px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 500px;
	max-width: 90vw;
	background-color:rgba(176, 196, 222, 0.75);
	border-radius: 0.25rem;
}

.navbar {
	background-color: black;
	overflow: hidden;
}

.navbar a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
	background-color: #ddd;
	color: black;
}

.messages p {
	padding: 1rem;
	font-size: 1.5rem;
	border-radius: 1rem;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.messages .success {
	background-color: rgba(0, 255, 0, 0.1);
}
.messages .error {
	background-color: rgba(255, 0, 0, 0.1);
}
.messages .info {
	background-color: rgba(0, 0, 255, 0.1);
}

#question_answers_div {
	padding: 10px;
	border: 1px solid black;
	background-color: antiquewhite;
}

#questions_submit {
	margin-top: 10px;
}
