{% extends 'base.html' %}
{% block title %}Survey Start{% endblock %}

{% block content %}

<form action="/answer" method="POST">
    <h1>Question {{number}}</h1>
    <input type="hidden" name="number" value="{{number}}">
    <p>{{question}}</p>
    <div>
        {% for choice in choices %}
        <div>
            <input type="radio" id="choice_{{loop.index}}" name="answer" value="{{choice}}">
            <label for="choice_{{loop.index}}">{{choice}}</label>
        </div>
        {% endfor %}
    </div>
    <button type="submit">Submit Answer</button>
</form>

{% endblock %}